.board{
    display: grid;
    gap: 0; 
    grid-template-columns: repeat(3,1fr);
    width: 250px;
    margin: 20px auto;
}

.cell{
    height: 70px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items:center ;
    background-color: rgb(192, 190, 190);
    border-radius: 4px;
    border: 1px solid black;
}

#reset{
    display: block;
    margin: 20px auto;
}