
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
.board{
    display: grid;
    gap: 0; 
    grid-template-columns: repeat(3,1fr);
    width: 250px;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 20px auto;
}

.cell{
    height: 70px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items:center ;
    border-radius: 4px;
    background-color: #ffffff; /* Color of empty cell */
    border: 1px solid #ccc;
}

.cell:hover{
    background-color: #f2f2f2; 
}

#reset{
    display: block;
    margin: 20px auto;
    height: 30px;
    width: 100px;
    border-radius: 6px;
    border: none;
    background-color: #2ecc71;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    font-family: emoji;

    
}


#reset:hover{
    background-color: #27ae60;  
}

.maindiv{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}